.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-modal-header {
  min-height: 50px;
  
}

.ant-modal .ant-modal-footer {
  margin-top: 25px;
}

.ant-modal-header > .ant-modal-title {
  font-size: 1.5em;
}

.ant-modal .ant-modal-content {
  padding: 30px 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-card .ant-card-head-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 1.5rem;
  height: 5rem;
}

.ant-input-search.light-theme .ant-input,
.ant-input[type='text'].light-theme,
.ant-input[type='password'].light-theme {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px!important;
  color: rgba(0, 0, 0, 0.88);
  background-color: white;
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  border-radius: 6px;
  transition: all 0.2s;
}

.ant-input-search.light-theme .ant-input-outlined,
.ant-input-outlined[type='text'].light-theme,
.ant-input-outlined[type='password'].light-theme {
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  padding-top: 0px;
  padding-bottom: 0px;
}

.ant-input-search.focus.light-theme .ant-input-outlined,
.ant-input-outlined[type='text']:focus.light-theme,
.ant-input-outlined[type='password']:focus.light-theme {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
  background-color: #ffffff;
}

.ant-input-search.dark-theme .ant-input,
.ant-input[type='text'].dark-theme,
.ant-input[type='password'].dark-theme {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px!important;
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    border-radius: 6px;
    transition: all 0.2s;
}

.ant-input-search.dark-theme .ant-input-outlined,
.ant-input-outlined[type='text'].dark-theme,
.ant-input-outlined[type='password'].dark-theme  {
  background: #141414;
  border-width: 1px;
  border-style: solid;
  border-color: #424242;
}

.ant-input-search.focus.dark-theme .ant-input-outlined,
.ant-input-outlined[type='text']:focus.dark-theme,
.ant-input-outlined[type='password']:focus.dark-theme {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
  background-color: #141414;
}

.ant-btn-primary[type='button'] {
  background: #1668dc;
}

.ant-switch[type='button'] {
  background: rgba(0, 0, 0, 0.25);
}

.ant-switch[type='button'].ant-switch-checked {
  background: #1677ff;
}