DB_CONNETION_STRING=mongodb://localhost:27017/chatbots
PORT=5000
SECRET_KEY=CHAT_BOTS
DISCORD_AGENCIES_WEBHOOK=https://discord.com/api/webhooks/1303543105622118441/sAMmKqURTw0NygecV6cCIPyyNqBjdhLY8dJwSVA1k2ycNAoSpzyFPfcS5J19VkCdd6RQ