DB_CONNETION_STRING=
PORT=5000
SECRET_KEY=

MAILER_HOST=
MAILER_PORT=
MAILER_SECURE=

EMAIL_USER=
EMAIL_PASS=

NOWPAYMENT_API_KEY=
NOWPAYMENT_PUBLIC_KEY=
NOWPAYMENT_IPN_KEY=

STRIPE_SECRET_KEY=

OTP_SECRET_KEY=

DISCORD_WEBHOOK_ACTIVITY=
DISCORD_WEBHOOK_DEBUG=
DISCORD_WEBHOOK_EXPENSE=
DISCORD_WEBHOOK_PAYMENT=
